@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;700&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  font-size: 62.5%;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: white;
  /* declaro el color acá para ahorrar código porque sé que voy a utilizar casi todo en blanco */ }

h1 {
  padding-top: 110px; }

h1, h2 {
  font-size: 3rem;
  font-weight: 600; }

h3 {
  font-size: 1.4rem;
  font-weight: 400; }

h1, h2, h3 {
  margin-bottom: 25px;
  letter-spacing: 3px;
  word-spacing: 3px;
  text-transform: uppercase; }

/* fin de las etiquetas "h" */
a {
  text-decoration: none;
  color: white; }

.centrarSinFlex {
  text-align: center; }

.centrarConFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.centrarConFlex2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.posicionRelativa {
  position: relative; }

.cursorPointer {
  cursor: pointer; }

.min-vh-80 {
  min-height: 80vh; }

.min-vh-90 {
  min-height: 90vh; }

.parallax {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxDos {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxTres {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxCuatro {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxCinco {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxSeis {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-6.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxSiete {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-7.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxOcho {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.gridLayout {
  display: grid;
  grid-template-rows: auto 10vh;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "footer";
  gap: 0px; }

main {
  grid-area: main; }

.footer {
  grid-area: footer; }

header .headerBackground {
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }

header nav a .formatoLogo {
  width: 120px; }

header nav a .icon-service-bag {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.55); }

.navbar-dark .navbar-nav .nav-link {
  transition: color 0.2s; }
  .navbar-dark .navbar-nav .nav-link i {
    transition: color 0.2s; }
    .navbar-dark .navbar-nav .nav-link i:hover {
      color: rgba(255, 255, 255, 0.9); }
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.9); }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.9); }

.separador-navbar {
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.55); }

.footer {
  width: 100%;
  background-color: black;
  z-index: 100; }

.copyright {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: #dadada; }

.contact {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
  color: #dadada; }

.navRedesFooter a {
  transition: filter 0.2s; }
  .navRedesFooter a:hover {
    filter: opacity(0.7); }

.icon-service {
  font-size: 18px;
  color: white; }

.sectionSobreMi2 p {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 24px;
  border-top: 1px solid white;
  border-bottom: 1px solid white; }

.boxTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 54vh; }

.bloque3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 34%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.7); }
  .bloque3 h2 {
    font-size: 1.6rem;
    padding: 12px 0;
    margin-bottom: 0px; }
  .bloque3 img {
    max-height: 50%;
    padding: 10px; }
  .bloque3 .box {
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: space-between; }
    .bloque3 .box h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      margin-left: 25px;
      padding: 5px 0px;
      font-size: 1.5rem;
      letter-spacing: 0px;
      transition: background-color 0.5s; }
    .bloque3 .box a {
      text-transform: uppercase;
      margin-right: 25px;
      padding: 5px 12px;
      font-size: 1.2rem;
      letter-spacing: 2px;
      border: solid 1px white;
      transition: background-color 0.5s, color 0.5s; }
      .bloque3 .box a:hover {
        background: white;
        color: black; }

.secForm {
  display: flex;
  padding-bottom: 40px;
  width: 90%; }

.contenedorForm {
  min-width: 30%;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.79); }
  .contenedorForm .label {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 5px 0px 3px 0px; }
  .contenedorForm legend {
    font-size: 1.4rem;
    margin-bottom: 15px; }
  .contenedorForm .contenedorBotones {
    text-align: center; }
    .contenedorForm .contenedorBotones .boton {
      height: 30px;
      width: 38%;
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: inherit;
      text-transform: capitalize;
      margin: 20px 10px 0px 10px;
      cursor: pointer;
      border: solid 1px white;
      background-color: transparent;
      transition: background-color 0.5s, color 0.5s;
      color: inherit; }
      .contenedorForm .contenedorBotones .boton:hover {
        background: white;
        color: black; }

.formInput {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(223, 222, 222, 0.8);
  color: inherit; }
  .formInput:focus {
    outline: none; }

.checkboxInfo {
  margin-bottom: 5px; }
  .checkboxInfo label {
    font-size: 1.2rem;
    padding-left: 5px; }
