@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;700&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-size: 62.5%;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }

h1 {
  padding-top: 110px; }

h1, h2 {
  font-size: 2.8rem;
  font-weight: 500; }

h3 {
  font-size: 1.4rem;
  font-weight: 400; }

h1, h2, h3 {
  margin-bottom: 25px;
  letter-spacing: 3px;
  word-spacing: 3px;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: white;
  text-shadow: none; }

.centrarSinFlex {
  text-align: center; }

.centrarConFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.centrarConFlex2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.sectionMargin {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.sectionHeight {
  min-height: 100vh; }

.posicionRelativa {
  position: relative; }

.cursorPointer {
  cursor: pointer; }

.min-vh-80 {
  min-height: 80vh; }

.min-vh-90 {
  min-height: 90vh; }

.parallax, .parallaxDos, .parallaxTres, .parallaxCuatro, .parallaxCinco, .parallaxSeis, .parallaxSiete, .parallaxOcho {
  background-color: black;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1-1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh; }

.parallaxDos {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-2a-1920.jpg); }

.parallaxTres {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-3-1920.jpg); }

.parallaxCuatro {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-8-1920.jpg); }

.parallaxCinco {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-5-1920.jpg); }

.parallaxSeis {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-6-1920.jpg); }

.parallaxSiete {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-7-1920.jpg); }

.parallaxOcho {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1-1920.jpg); }

.gridLayout {
  display: grid;
  grid-template-rows: auto 10vh;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "footer";
  gap: 0px; }

main {
  grid-area: main; }

.footer {
  grid-area: footer; }

header .headerBackground {
  min-height: 65px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }

header nav a .formatoLogo {
  width: 120px; }

header nav a .icon-service-bag {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.55); }

.navbar-dark .navbar-nav .nav-link {
  transition: color 0.5s; }
  .navbar-dark .navbar-nav .nav-link i {
    transition: color 0.5s; }
    .navbar-dark .navbar-nav .nav-link i:hover {
      color: rgba(255, 255, 255, 0.9); }
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.9); }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.9); }

.separador-navbar {
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.55); }

.div-height {
  min-height: 65px; }

.footer {
  width: 100%;
  background-color: black;
  background-image: linear-gradient(45deg, black 0%, #0a0000 50%, black 100%);
  z-index: 100; }

.copyright {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: #dadada; }

.navRedesFooter a {
  transition: filter 0.2s; }
  .navRedesFooter a:hover {
    filter: opacity(0.7); }

.icon-service {
  font-size: 18px;
  color: white; }

.parallax .centrarConFlex h1, .parallaxDos .centrarConFlex h1, .parallaxTres .centrarConFlex h1, .parallaxCuatro .centrarConFlex h1, .parallaxCinco .centrarConFlex h1, .parallaxSeis .centrarConFlex h1, .parallaxSiete .centrarConFlex h1, .parallaxOcho .centrarConFlex h1 {
  padding-top: 15vh;
  font-weight: 600;
  font-size: 6rem;
  letter-spacing: 8px;
  word-spacing: 15px;
  margin-bottom: 8px;
  text-transform: initial;
  border-bottom: 3px solid white; }

.parallax .centrarConFlex p, .parallaxDos .centrarConFlex p, .parallaxTres .centrarConFlex p, .parallaxCuatro .centrarConFlex p, .parallaxCinco .centrarConFlex p, .parallaxSeis .centrarConFlex p, .parallaxSiete .centrarConFlex p, .parallaxOcho .centrarConFlex p {
  max-width: 65%;
  padding-bottom: 10vh;
  font-weight: 300;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  text-align: center; }

.subPrincipal {
  margin-bottom: 0px;
  padding-bottom: 8vh;
  font-size: 2.6rem;
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 10px; }

.divFlecha {
  position: absolute;
  bottom: 1vh; }

.flechaScrollUno {
  width: 45px;
  padding: 10px 0 0px 0; }

.parallax .centrarConFlex h2, .parallaxDos .centrarConFlex h2, .parallaxTres .centrarConFlex h2, .parallaxCuatro .centrarConFlex h2, .parallaxCinco .centrarConFlex h2, .parallaxSeis .centrarConFlex h2, .parallaxSiete .centrarConFlex h2, .parallaxOcho .centrarConFlex h2 {
  margin-bottom: 4px;
  padding-top: 14vh;
  font-size: 4rem;
  letter-spacing: 8px;
  word-spacing: 10px;
  border-bottom: 2px solid white; }

.img-zoom div a img {
  transition: transform 0.2s ease-out; }

.img-zoom:hover div a img {
  transform: scale(1.1); }

.carousel-indicators-height {
  height: 30px; }

.posicionDer {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 0; }

.posicionIzq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-left: 0; }

.carruselImg {
  box-shadow: 0 0.5rem 1.2rem 0.5rem rgba(0, 0, 0, 0.3); }

.posicionDer h2,
.posicionIzq h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: left; }

.posicionDer p,
.posicionIzq p {
  width: 100%;
  margin: 10px 0px;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  line-height: 2.4rem; }

.posicionDer img,
.posicionIzq img {
  width: 45px;
  height: 2px; }

.posicionDer a,
.posicionIzq a {
  width: 125px;
  margin-top: 10px;
  padding: 5px 18px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  border: solid 1px white;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s; }
  .posicionDer a:hover,
  .posicionIzq a:hover {
    background: white;
    color: black; }

.sectionSobreMi2 p {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 24px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: justify;
  text-shadow: 1px 1px 2px black; }

.bloqueImgGaleria {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  cursor: pointer; }
  .bloqueImgGaleria img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out; }
  .bloqueImgGaleria .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s; }
    .bloqueImgGaleria .capa a {
      text-align: center;
      text-transform: uppercase;
      padding: 5px 18px;
      font-size: 1.4rem;
      letter-spacing: 2px;
      border: solid 1px white;
      transition: background-color 0.5s, color 0.5s; }
      .bloqueImgGaleria .capa a:hover {
        background-color: white;
        color: black; }
  .bloqueImgGaleria:hover img {
    transform: scale(1.1); }
  .bloqueImgGaleria:hover .capa {
    opacity: 1;
    transition: opacity 0.2s; }

.parallaxSeis .centrarConFlex2 h2 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  font-size: 2.2rem;
  border-bottom: 1px solid white;
  text-align: left; }

.gridFotos {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "img1 img2 img3" "img4 img2 img5" "img4 img6 img5";
  gap: 0px;
  justify-items: center;
  align-items: stretch;
  overflow: hidden; }

.imagen1 {
  grid-area: img1; }

.imagen2 {
  grid-area: img2; }

.imagen3 {
  grid-area: img3; }

.imagen4 {
  grid-area: img4; }

.imagen5 {
  grid-area: img5; }

.imagen6 {
  grid-area: img6; }

.marginTop {
  margin-top: 40px; }

.paddingBottom {
  padding-bottom: 40px; }

.bordeInf {
  border-bottom: 1px solid white; }

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  transform: scale(0);
  opacity: 0; }
  .light-box img {
    max-width: 78vw;
    max-height: 85vh;
    object-fit: cover; }
  .light-box:target {
    transform: scale(1);
    opacity: 1; }
  .light-box .close {
    display: block;
    position: absolute;
    top: 35px;
    right: 50px; }
    .light-box .close .icon-close {
      color: white;
      font-size: 20px;
      opacity: 0.7;
      transition: opacity 0.2s ease-out; }
      .light-box .close .icon-close:hover {
        opacity: 1; }
  .light-box .flechas {
    display: block;
    margin: 0 10px; }
    .light-box .flechas .icon-flecha {
      color: white;
      font-size: 40px;
      opacity: 0.7; }

.iframeBox {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 840px;
  max-width: 100%;
  height: 472.5px; }

.iframe {
  width: 100%;
  object-fit: cover;
  padding: 2% 0; }

.parallaxSiete .centrarConFlex2 h2 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  font-size: 2.2rem;
  border-bottom: 1px solid white;
  text-align: left; }

.parallaxSiete .centrarConFlex2 p {
  width: 100%;
  margin-top: 5px;
  padding-top: 15px;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
  color: #e4e4e4; }

.parallaxSiete .centrarConFlex2 :nth-child(10) {
  padding-bottom: 30px; }

.boxTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0;
  width: 100%; }

.card-bg {
  max-width: 35rem;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 0;
  box-shadow: 0 0.5rem 1.2rem 0.5rem rgba(0, 0, 0, 0.3); }
  .card-bg figure {
    max-height: 300px;
    overflow: hidden; }
    .card-bg figure img {
      filter: grayscale(1);
      transform: scale(1.1);
      transition: filter 0.3s, transform 0.3s; }
      .card-bg figure img:hover {
        filter: grayscale(0);
        transform: scale(1); }
  .card-bg .card-body h2 {
    font-size: 1.7rem;
    padding: 12px 0;
    margin-bottom: 0px; }
  .card-bg .card-body .precio {
    margin: 0;
    padding: 0.5rem 0;
    font-weight: 600; }
  .card-bg .card-body p {
    padding: 0.1rem 0;
    font-weight: 300;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0rem;
    line-height: 2.4rem; }
  .card-bg .card-body a {
    position: relative;
    margin: 12px;
    text-transform: uppercase;
    padding: 5px 12px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border: solid 1px white;
    color: white;
    transition: background-color 0.5s, color 0.5s; }

.secForm {
  display: flex;
  padding-bottom: 40px;
  width: 90%; }

.contenedorForm {
  min-width: 30%;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.79);
  box-shadow: 0 0.5rem 1.2rem 0.5rem rgba(0, 0, 0, 0.3); }
  .contenedorForm .label {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 5px 0px 3px 0px; }
  .contenedorForm legend {
    font-size: 1.4rem;
    margin-bottom: 15px; }
  .contenedorForm .contenedorBotones {
    text-align: center; }
    .contenedorForm .contenedorBotones .boton {
      height: 30px;
      width: 38%;
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: inherit;
      text-transform: capitalize;
      margin: 20px 10px 0px 10px;
      cursor: pointer;
      border: solid 1px white;
      background-color: transparent;
      transition: background-color 0.5s, color 0.5s;
      color: inherit; }
      .contenedorForm .contenedorBotones .boton:hover {
        background: white;
        color: black; }

.formInput {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(223, 222, 222, 0.8);
  color: inherit; }
  .formInput:focus {
    outline: none; }

.checkboxInfo {
  margin-bottom: 5px; }
  .checkboxInfo label {
    font-size: 1.2rem;
    padding-left: 5px; }

.parallaxOcho .centrarConFlex2 h4 {
  width: 100%;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 20px;
  border-bottom: 1px solid white; }

.botonVolver {
  margin-top: 40px; }
  .botonVolver a {
    text-transform: uppercase;
    padding: 6px 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border: solid 1px white;
    transition: background-color 0.5s, color 0.5s; }
    .botonVolver a:hover {
      background: white;
      color: black; }

/* ------- RESPONSIVE ------- */
/* TABLETS: pantallas mayores a 768px y menores a 1024 */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* estilos generales */
  html {
    font-size: 60%; }
  h2 {
    font-size: 2.8rem; }
  .parallax, .parallaxDos, .parallaxTres, .parallaxCuatro, .parallaxCinco, .parallaxSeis, .parallaxSiete, .parallaxOcho {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1-1620-1080.jpg); }
  .parallaxDos {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/maxi_parallax-vertical-1024-1536.jpg); }
  .parallaxTres {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-3-vertical-720.jpg); }
  .parallaxCuatro {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-8-1620-1080.jpg); }
  .parallaxCinco {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-5-1620-1080.jpg); }
  .parallaxSeis {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-6-1620-1080.jpg); }
  .parallaxSiete {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-7-1620-1080.jpg); }
  .parallaxOcho {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1-1620-1080.jpg); }
  /* fin de estilos generales */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* header */
  header .headerBackground {
    background: black; }
  .nav {
    justify-content: center; }
    .nav ul {
      flex-direction: column; }
  .formatoLogo {
    width: 120px; }
  /* fin del header */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* footer */
  .copyright {
    letter-spacing: 0px; }
  /* fin del footer */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* index */
  .divFlecha {
    display: none; }
  .parallax .centrarConFlex h1, .parallaxDos .centrarConFlex h1, .parallaxTres .centrarConFlex h1, .parallaxCuatro .centrarConFlex h1, .parallaxCinco .centrarConFlex h1, .parallaxSeis .centrarConFlex h1, .parallaxSiete .centrarConFlex h1, .parallaxOcho .centrarConFlex h1 {
    font-size: 5rem; }
  .posicionIzq h2 {
    font-size: 2.4rem;
    text-align: center; }
  .posicionIzq img {
    display: none; }
  .posicionDer {
    position: initial;
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    border-radius: .25rem; }
    .posicionDer h2 {
      font-size: 2.4rem;
      margin-bottom: 20px;
      letter-spacing: 2px;
      word-spacing: 2px;
      text-align: center; }
    .posicionDer img {
      display: none; }
    .posicionDer a {
      width: 110px;
      margin: 20px auto;
      padding: 6px 5px;
      font-size: 1.2rem;
      letter-spacing: 2px; }
  .posicionDer p,
  .posicionIzq p {
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center; }
  .carruselImg {
    max-height: 400px;
    object-fit: cover; }
  /* fin del index */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* galeria */
  .bloqueImgGaleria .capa {
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    align-items: flex-end; }
    .bloqueImgGaleria .capa a {
      width: 105px;
      padding: 4px 3px;
      margin-bottom: 20px;
      font-size: 1.4rem;
      border: none;
      border-bottom: 1px solid white; }
  .bloqueImgGaleria:hover > img {
    transform: scale(1); }
  .iframeBox {
    width: 560px;
    height: 315px; }
  /* fin de galeria */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* servicios */
  .parallaxSiete .centrarConFlex2 h2 {
    font-size: 1.8rem; }
  .parallaxSiete .centrarConFlex2 p {
    letter-spacing: 1px;
    line-height: 19px;
    margin: 15px 0;
    text-align: justify;
    padding: 0px; }
  .parallaxSiete .centrarConFlex2:nth-child(10) {
    padding-bottom: 25px; }
  /* fin de servicios */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* contacto */
  .secForm {
    min-height: 60vh;
    align-items: center; }
  .contenedorForm {
    min-width: 90%;
    max-width: 90%;
    height: 80%; }
  /* fin de contacto */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* tienda */
  .boxTienda {
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    height: auto; }
  /* fin de la tienda */ }

/* MOBILE: pantallas hasta 428px porque hay un iPhone que tiene esta resolución */
@media only screen and (max-width: 428px) {
  /* estilos generales */
  .gridLayout {
    display: grid;
    grid-template-rows: auto 15vh;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    gap: 0px; }
  html {
    font-size: 60%; }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    word-spacing: 2px; }
  h2 {
    font-size: 2.8rem; }
  .parallax, .parallaxDos, .parallaxTres, .parallaxCuatro, .parallaxCinco, .parallaxSeis, .parallaxSiete, .parallaxOcho {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1-vertical-648.jpg);
    min-height: 85vh; }
  .parallaxDos {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/maxi_parallax-vertical-768-1152.jpg);
    min-height: 85vh; }
  .parallaxTres {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-3-vertical-720.jpg);
    min-height: 85vh; }
  .parallaxCuatro {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-8-1620-1080.jpg);
    min-height: 85vh; }
  .parallaxCinco {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-5-1620-1080.jpg);
    min-height: 85vh; }
  .parallaxSeis {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-6-1620-1080.jpg);
    min-height: 85vh; }
  .parallaxSiete {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-7-1620-1080.jpg);
    min-height: 85vh; }
  .parallaxOcho {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.17) 50%, rgba(0, 0, 0, 0.8) 100%), url(../images/parallax-1-1620-1080.jpg);
    min-height: 85vh; }
  .min-vh-90 {
    min-height: 85vh; }
  /* fin de estilos generales */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* header */
  header .headerBackground {
    background: black; }
  .nav {
    justify-content: center; }
    .nav ul {
      flex-direction: column; }
  .formatoLogo {
    width: 120px; }
  /* fin del header */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* footer */
  .copyright {
    font-size: 1.1rem;
    letter-spacing: 0px; }
  .navRedesFooter {
    align-self: center; }
    .navRedesFooter a img {
      width: 24px;
      margin: 10px 8px; }
  /* fin del footer */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* index */
  .divFlecha {
    display: none; }
  .parallax .centrarConFlex h1, .parallaxDos .centrarConFlex h1, .parallaxTres .centrarConFlex h1, .parallaxCuatro .centrarConFlex h1, .parallaxCinco .centrarConFlex h1, .parallaxSeis .centrarConFlex h1, .parallaxSiete .centrarConFlex h1, .parallaxOcho .centrarConFlex h1 {
    padding-top: 25vh;
    font-weight: 600;
    font-size: 2.8rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    border-bottom: 1px solid white; }
  .parallax .centrarConFlex p, .parallaxDos .centrarConFlex p, .parallaxTres .centrarConFlex p, .parallaxCuatro .centrarConFlex p, .parallaxCinco .centrarConFlex p, .parallaxSeis .centrarConFlex p, .parallaxSiete .centrarConFlex p, .parallaxOcho .centrarConFlex p {
    max-width: 90%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 19px; }
  .subPrincipal {
    font-size: 1.8rem;
    letter-spacing: 2px;
    word-spacing: 2px; }
  .posicionIzq h2 {
    font-size: 2.4rem;
    text-align: center; }
  .posicionIzq img {
    display: none; }
  .posicionDer {
    position: initial;
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    border-radius: .25rem; }
    .posicionDer h2 {
      font-size: 2.4rem;
      margin-bottom: 20px;
      letter-spacing: 2px;
      word-spacing: 2px;
      text-align: center; }
    .posicionDer img {
      display: none; }
    .posicionDer a {
      width: 110px;
      margin: 20px auto;
      padding: 6px 5px;
      font-size: 1.2rem;
      letter-spacing: 2px; }
  .posicionDer p,
  .posicionIzq p {
    letter-spacing: 1px;
    line-height: 19px;
    text-align: center; }
  /* fin del index */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* sobre mí */
  .sectionSobreMi2 p {
    letter-spacing: 1px;
    line-height: 19px; }
  /* fin de sobre mí */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* galeria */
  .parallaxSeis .centrarConFlex2 h2 {
    font-size: 1.8rem;
    width: 100%; }
  .gridFotos {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "img1" "img2" "img2" "img3" "img4" "img4" "img6" "img5" "img5";
    row-gap: 15px; }
  .bloqueImgGaleria .capa {
    opacity: 1;
    background: rgba(0, 0, 0, 0);
    align-items: flex-end; }
    .bloqueImgGaleria .capa a {
      width: 105px;
      padding: 4px 3px;
      margin-bottom: 20px;
      font-size: 1.4rem;
      border: none;
      border-bottom: 1px solid white; }
  .bloqueImgGaleria:hover > img {
    transform: scale(1); }
  .light-box .close {
    top: 25px;
    right: 25px; }
  .light-box .flechas {
    margin: 0 2px; }
    .light-box .flechas .icon-flecha {
      font-size: 25px; }
  .iframeBox {
    width: 310px;
    height: 250px; }
  /* fin de galeria */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* servicios */
  .parallaxSiete .centrarConFlex2 h2 {
    font-size: 1.6rem; }
  /* fin de servicios */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* tienda */
  .boxTienda {
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    height: auto; }
  /* fin de tienda */
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* contacto */
  .contenedorForm {
    max-width: 100%; }
  /* fin de contacto */ }
