.parallax {
    .centrarConFlex {
        h1 {
            padding-top: 15vh;
            font-weight: 600;
            font-size: 6rem;
            letter-spacing: 8px;
            word-spacing: 15px;
            margin-bottom: 8px;
            text-transform: initial;
            border-bottom: 3px solid white;
        }

        p {
            max-width: 65%;
            padding-bottom: 10vh;
            font-weight: 300;
            font-size: 1.8rem;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 1px;
            line-height: 25px;
            text-align: center;
        }
    }
}

.subPrincipal {
    margin-bottom: 0px;
    padding-bottom: 8vh;
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 8px;
    word-spacing: 10px;
}

.divFlecha {
    position: absolute;
    bottom: 1vh;
}

.flechaScrollUno {
    width: 45px;
    padding: 10px 0 0px 0;
}

/* acá comienzo a darle formato al resumen de fotos */
.parallax .centrarConFlex h2 {
    margin-bottom: 4px;
    padding-top: 14vh;
    font-size: 4rem;
    letter-spacing: 8px;
    word-spacing: 10px;
    border-bottom: 2px solid white;
}

.subSecundario {
    margin-bottom: 9vh;
    font-size: 1.8rem;
    letter-spacing: 7px;
    word-spacing: 7px;
}

.img-zoom {
    div a img {
        transition: transform 0.2s ease-out;
    }

    &:hover {
        div a img {
            transform: scale(1.1);
        }
    }
}

.carousel-indicators-height {
    height: 30px;
}

/* segunda seccion del index */
.posicionDer {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 0;
}

.posicionIzq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding-left: 0;
}

.carruselImg{
    box-shadow: 0 .5rem 1.2rem .5rem rgba(0, 0, 0, .3);
}

.posicionDer,
.posicionIzq {
    h2 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0px;
        text-align: left;
    }

    p {
        width: 100%;
        margin: 10px 0px;
        font-weight: 300;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.1rem;
        line-height: 2.4rem;
    }

    img {
        width: 45px;
        height: 2px;
    }

    a {
        width: 125px;
        margin-top: 10px;
        padding: 5px 18px;
        font-size: 1.4rem;
        letter-spacing: 2px;
        text-align: center;
        border: solid 1px white;
        text-transform: uppercase;
        transition: background-color 0.5s, color 0.5s;

        &:hover {
            background: white;
            color: black;
        }
    }
}