@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;700&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    /* overflow-x: hidden; */
    font-size: 62.5%;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);       
}

h1{
    padding-top: 110px;
}

h1, h2{
    font-size: 2.8rem;
    font-weight:500;
}

h3{
    font-size: 1.4rem;
    font-weight: 400;  
}

h1, h2, h3{
    margin-bottom: 25px;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-transform: uppercase;
}
/* fin de las etiquetas "h" */

a{
    text-decoration: none; 
    color: map-get($colores, blanco);
    text-shadow: none;
}

.centrarSinFlex{
    text-align: center;
}

.centrarConFlex{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.centrarConFlex2{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sectionMargin{     
    width: 90%;
    margin-left: auto;
    margin-right: auto;  
}

.sectionHeight {
    min-height: 100vh;
}

.posicionRelativa{
    position: relative;
}

.cursorPointer{
    cursor: pointer;
}

.min-vh-80{
    min-height: 80vh;
}

.min-vh-90{
    min-height: 90vh;
}

.parallax {
    background-color: map-get($colores, bg-color-negro);
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-1-1920.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.parallaxDos {
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-2a-1920.jpg);
}

.parallaxTres{
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-3-1920.jpg); 
}

.parallaxCuatro{
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax-4), url(../images/parallax-8-1920.jpg); 
}

.parallaxCinco{
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-5-1920.jpg);
}

.parallaxSeis{
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-6-1920.jpg); 
}

.parallaxSiete{
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-7-1920.jpg);  
}

.parallaxOcho{
    @extend .parallax;
    background-image: map-get($colores, gradiente-parallax), url(../images/parallax-1-1920.jpg);
}