$colores:(
    blanco: white,
    negro: black,
    bg-color-negro: black,
    gradiente-parallax: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.17) 50%, rgba(0,0,0,0.8) 100%),
    gradiente-parallax-4: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%),
);
